doctype html
html(lang="en")
  include ./partials/_head.pug
  body
    block content

    //scripts
    script(src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous")
    script(src="/static/javascripts/main.js")
