@keyframes slideUp {
  0% {
    bottom: -200px;
    opacity: 0; }
  100% {
    bottom: 0px;
    opacity: 1; } }

@keyframes slideDown {
  0% {
    top: -200px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes upDown {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes leftRight {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0px); } }

@keyframes slideLeft {
  0% {
    left: -200px;
    opacity: 0; }
  100% {
    left: 0px;
    opacity: 1; } }

@keyframes slideRight {
  0% {
    right: -200px;
    opacity: 0; }
  100% {
    right: 0px;
    opacity: 1; } }

body {
  color: #1a1a1a;
  font-family: 'roboto'; }
  body .background-image {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: .2;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -2; }
    body .background-image#index_image {
      background-image: url("/static/images/background_home2-min.jpeg"); }
    body .background-image#match_image {
      background-image: url("/static/images/scoreboard_background1-min.jpeg"); }
  body .content-main {
    margin-top: 50px; }

#match-view .logo-container {
  width: 500px;
  display: block;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  color: #1a1a1a; }
  #match-view .logo-container .logo-name {
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
    font-size: 4em;
    font-weight: 900;
    line-height: 100px;
    margin-left: 20px;
    transform: translateY(-30px); }
  #match-view .logo-container .logo-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("/static/images/nextMatch_logo_small.png") no-repeat 100% 100%; }

#match-view .match-board {
  max-width: 840px;
  background-color: rgba(93, 93, 93, 0.7);
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px; }
  #match-view .match-board .section-header {
    background-color: #000;
    height: 50px;
    border-radius: 6px 6px 0px 0px;
    padding-left: 40px; }
    #match-view .match-board .section-header p {
      color: #fff;
      line-height: 50px; }
  #match-view .match-board .section-container {
    padding-top: 40px;
    padding-bottom: 40px; }
    #match-view .match-board .section-container .board-section {
      display: inline-block; }
      #match-view .match-board .section-container .board-section.match-details {
        width: 20%; }
      #match-view .match-board .section-container .board-section.team-info-container {
        width: 40%; }
        #match-view .match-board .section-container .board-section.team-info-container.home-team-info {
          float: left; }
        #match-view .match-board .section-container .board-section.team-info-container.away-team-info {
          float: right; }
        #match-view .match-board .section-container .board-section.team-info-container img.team-crest {
          width: 250px;
          height: 250px; }
        #match-view .match-board .section-container .board-section.team-info-container .team-name {
          padding-top: 20px;
          font-weight: bold;
          font-size: 1.5em; }
      #match-view .match-board .section-container .board-section.home-team-info {
        position: relative;
        left: -600px;
        animation: slideLeft .6s .5s forwards; }
      #match-view .match-board .section-container .board-section.away-team-info {
        position: relative;
        right: -600px;
        animation: slideRight .6s .5s forwards; }
      #match-view .match-board .section-container .board-section.match-details {
        margin-top: 20px; }
        #match-view .match-board .section-container .board-section.match-details .event-date-details {
          padding-top: 40px;
          padding-bottom: 10px;
          font-size: 1.5em; }
          #match-view .match-board .section-container .board-section.match-details .event-date-details .date,
          #match-view .match-board .section-container .board-section.match-details .event-date-details .time {
            display: block;
            font-weight: bold; }
        #match-view .match-board .section-container .board-section.match-details .live {
          width: 100px;
          border: 2px solid green;
          opacity: .6;
          border-radius: 5px;
          color: green;
          font-size: 1.2em;
          line-height: 30px; }
        #match-view .match-board .section-container .board-section.match-details .competition {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 1.2em;
          font-weight: bold; }
        #match-view .match-board .section-container .board-section.match-details .score {
          font-size: 4em;
          font-weight: bold; }

#match-view .versus-container {
  width: 65%;
  height: 50px;
  margin: auto;
  background-color: #000;
  border-radius: 0 0 6px 6px; }
  #match-view .versus-container .home-team,
  #match-view .versus-container .away-team {
    width: 45%;
    height: 50px;
    display: inline-block;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center; }
  #match-view .versus-container .versus {
    width: 10%;
    height: 50px;
    background-color: #fff;
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    text-align: center; }
  #match-view .versus-container .home-team {
    float: left; }
  #match-view .versus-container .away-team {
    float: right; }

#index-view {
  font-family: 'Orbitron', sans-serif; }
  #index-view #logo {
    position: relative;
    top: -600px;
    width: 300px;
    height: 300px;
    animation: slideDown .6s .5s forwards; }
  #index-view form {
    padding-top: 50px;
    max-width: 980px; }
    #index-view form #primary-list,
    #index-view form #secondary-list {
      position: relative;
      bottom: -600px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 20px; }
      #index-view form #primary-list span,
      #index-view form #secondary-list span {
        font-size: 3em; }
      #index-view form #primary-list select,
      #index-view form #secondary-list select {
        position: relative;
        top: -10px;
        background-color: transparent;
        font-size: 2em;
        margin-left: 10px;
        padding-left: 5px;
        width: 300px;
        background: url("/static/images/icons/arrow_down.svg") no-repeat 100% 50%;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid black;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button; }
        #index-view form #primary-list select:focus,
        #index-view form #secondary-list select:focus {
          outline: none; }
    #index-view form #primary-list {
      animation: slideUp .6s .5s forwards; }
    #index-view form #secondary-list {
      animation: slideUp .6s 0s forwards; }
  #index-view input[type=submit] {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 50%;
    background: url("/static/images/icons/arrow_right.svg") no-repeat 100% 50%;
    animation: leftRight .5s .3s infinite; }
    #index-view input[type=submit]:hover {
      background-color: #fff; }
