#match-view{
  .logo-container{
    width: 500px;
    display: block;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    color: #1a1a1a;
    .logo-name{
      font-family: 'Orbitron', sans-serif;
      display: inline-block;
      font-size: 4em;
      font-weight: 900;
      line-height: 100px;
      margin-left: 20px;
      transform: translateY(-30px);
    }
    .logo-image{
      display: inline-block;
      width: 100px;
      height: 100px;
      background: url('/static/images/nextMatch_logo_small.png') no-repeat 100% 100% ;
    }
  }

  .match-board{ //containers all content in jumbotron
    max-width: 840px;
    background-color: rgba(93,93,93, .7);
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-bottom: 0px;
    .section-header{
      background-color: #000;
      height: 50px;
      border-radius: 6px 6px 0px 0px;
      // margin-bottom: 20px;
      padding-left: 40px;
      p{
        color: #fff;
        line-height: 50px;

      }
    }
    .section-container{
      padding-top: 40px;
      padding-bottom: 40px;

      .board-section{//target the three boxes inside the jumbotron
        //only targets 1st and 3rd section
        display: inline-block;
        &.match-details{
          width: 25%;
        }
        &.team-info-container{
          width: 37.5%;
          &.home-team-info{
            float: left;
          }
          &.away-team-info{
            float: right;
          }

          img.team-crest{
            width: 250px;
            height: 250px;
          }
          .team-name{
            padding-top: 20px;
            font-weight: bold;
            font-size: 1.5em;
          }
        }
        &.home-team-info{
          position: relative;
          left: -600px;
          animation: slideLeft .6s .5s forwards;
        }
        &.away-team-info{
          position: relative;
          right: -600px;
          animation: slideRight .6s .5s forwards;
        }
        &.match-details{
          margin-top: 20px;
          .event-date-details{
            padding-top: 25px;
            padding-bottom: 5px;
            font-size: 1.5em;
            #unformattedDate{
              visibility: hidden;
              height: 0px;
            }
            #date,
            #time{
              display: block;
              font-weight: bold;
            }
          }
          .live{
            width: 100px;
            border: 2px solid #00CC00;
            background-color: #00a300;
            opacity: .6;
            border-radius: 5px;
            color: #fff;
            font-size: 1.2em;
            line-height: 30px;
          }
          .competition{
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 1.2em;
            font-weight: bold;
          }
          .score{
            font-size: 4em;
            font-weight: bold;
          }
          #reminder-section{
            background-color: #fff;
            // border: .5px solid #000;
            border-radius: 5px;
            color: #444;
            p{
              font-size: 1em;
              font-weight: 100;
              padding-top: 10px;
              margin-bottom: 0px;
            }
            #reminder-button{
              cursor: pointer;
              font-weight: bold;


            }
            #reminder-form{
              display: none;
              i{
                cursor: pointer;
                position: relative;
                top: -5px;
                right: -90px;
                font-size: 1.5em;
                color: #5e5e5e;
                padding: 3px 4px;
                z-index: 1;
              }
              form{
                position: relative;
                top: -15px;
                input[type="tel"] {
                  background-color: transparent;
                  border: none;
                  // color: #1a1a1a;
                  font-weight: bold;
                  text-align: center;
                  border-bottom: 2px solid #1a1a1a;
                  &:focus{
                    outline: none;
                  }
                }
                 .notice{
                   margin-top: 10px;
                   margin-bottom: 10px;
                   font-size: 1em;
                   select#alertTime {
                      background-color: transparent;
                      border: none;
                      width: 40px;
                      font-weight: bold;
                      &:focus{
                        outline: none;
                      }

                    }

                 }
                 #submit{
                   font-weight: bold;
                   cursor: pointer;
                   transition: linear .5s all;
                   border: none;
                   border-bottom: 1px solid transparent;
                   background-color: transparent;
                   padding: 0px;
                   &:hover{
                     border-bottom: 1px solid #000;

                   }
                 }
               }

            }
          }
        }
      }
    }
  }
  .versus-container{
    width: 65%;
    height: 50px;
    margin: auto;
    background-color: #000;
    border-radius: 0 0 6px 6px;
    #home-team,
    #away-team{
      width: 45%;
      height: 50px;
      display: inline-block;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 50px;
      font-size: 1.5em;
      text-align: center;
    }
    .versus{
      width: 10%;
      height: 50px;
      background-color: #fff;
      display: inline-block;
      font-size: 50px;
      line-height: 50px;
      text-align: center;
    }
    #home-team{
      float: left;
    }
    #away-team{
      float: right;
    }
  }
}
